@import url(reset.css);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. 
	If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. 
	https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserverEntry/borderBoxSize */

/* ------------ PARAGRAPH, BACKGROUND AND TEXT STYLES ------------ */

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #fffffa;
}


h1 {
  font-family: "Unbounded", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 0rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 0;
  margin-top: 3rem;
  line-height: 150%;
}

h3 {
  font-family: "Unbounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #7c7c7c;
  margin-bottom: 0;
  margin-top: 1rem;
}

h5 {
  font-family: "Unbounded", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
}

p {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: black;
  margin-top: 1rem;
  line-height: 150%; /* ---https://developer.mozilla.org/en-US/docs/Web/CSS/line-height--*/
}
a{
  text-decoration: none;
  color: #000000;
}

.footer-icon{
  padding-right: 1rem;
}

/* ------------------- NAV BAR ------------------- */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  z-index: 100;
}

.navbar a {
  display: inline-block;
  align-content: center;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 1rem;
}

.menu {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #fea725;
  text-decoration: underline;
  text-decoration-color: #ffc400;
}

.nav-button {   /* -- source:https://www.w3schools.com/howto/howto_css_outline_buttons.asp-- */
  padding: 1rem;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border-color: black;
  max-height: 4rem;
  margin-left: 1rem;
}

.projects-button {
  padding: 1rem;
  margin-top: 2rem;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border-color: black;
  max-height: 4rem;
}

.projects-button:hover {
  background-color: #000000;
  color: white;
}

.nav-button:hover {
  background-color: #000000;
  color: white;
}

hr {
  color: #000000;
}

/* ----------------- HERO AREA / INDEX ----------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  grid-gap: 1em;
  max-width: 80vw;
  align-items: left;
}


.hero {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  text-align: center;
}

.hero-buttons {   /* -- source:https://www.w3schools.com/howto/howto_css_outline_buttons.asp-- */
  padding: 1rem;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border-color: black;
  max-height: 4rem;
}

.hero-buttons:hover {
  background-color: #000000;
  color: white;
}

.dividor {
  margin-top: 2rem;
  margin-bottom: 5rem;
  height: auto;
  max-width: 70%;
}

/* ------------------ PROJECTS/INDEX ----------------- */

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.project-card {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem;
  max-width: 30.5rem;
}

.button:hover {
  background-color: #000000;
  color: white;
}



/* ----------------- ABOUT ME PAGE ----------------- */


.about-title {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.skills-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1rem;
  border: 2px solid black;
  padding: 2rem;
  margin: 1.5rem;
  width: 20rem;
  height: 27rem;
}

.photo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  align-self: center;
  justify-content: center;
}

.photo-content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 4rem;
}

.about-background {
  background-position: right 3em bottom 10px;
}

.icon{
  margin-top: 2rem;
}


/* ----------------- PROJECT 1:WHOW ---------------- */

.hero-whow{
  margin-top: 5rem;
  text-align: left;
  margin-bottom: 4rem;
}

.hero-whow p{
  margin-top: 0.25rem;
}

.overview{
  flex-wrap: wrap;
  background-color: white;
  border: solid;
  border-color: black;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.galerie{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.galerie-item{
  margin: 1rem;
}


.art-direction{
  margin-top: 3rem;
}

.moodboard {
  margin-top: 4rem;
}



/* ------------------- CONTACT FORM ------------------- */

.contact-title {
  margin-top: 5rem;
  text-align: left;
  max-width: 80%;
}

input[type="text"],
select,
textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="text"],
label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 12px 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}

input[type="submit"]:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px;
}

.container {
  border-radius: 5px;
  padding: 20px;
  max-width: 80vw;
  margin-bottom: 5rem;
}


/* ------------------- FOOTER ----------------*/
/* ---James helped me building the grid during class. I worked on the alignments---*/

footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1rem;
}

.footer-logo {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  align-self: center;
}
.footer-content {
  grid-column-start: 3;
  grid-column-end: 6;
  justify-self: center;
  align-self: center;
}
.creative-process {
  grid-column-start: 6;
  grid-column-end: 11;
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
}

.creative-process-content {
  display: flex;
  flex-direction: column;
  margin-right: 0.8rem;
}
.footer-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.footer-list-item {
  padding-right: 0.5rem;
}
.footer-list-item:hover {
  color: #fea725;
}
.social-media {
  grid-column-start: 11;
  grid-column-end: 13;
  justify-self: center;
  align-self: center;
}

footer p{
  color: #000000;
  margin-top: 0.8rem;
  text-decoration: none;
}
